body {
	background-color: #e9eaed;
}

a {
	color: #3b5998;
}

a.active:focus, a:focus {
	text-decoration: none;
}

hr {
	border-top: 1px solid rgba(0,0,0,0.2);
}

textarea {
	border-radius: 0px !important;
}

header {
	margin-top: 20px; 
	margin-bottom: 10px;
}

footer {
	color: #767676;
	font-size: 0.8em;
	margin-top: 20px;
}

footer ul {
	padding-left: 0px;
}

footer ul li {
	display: inline;
	padding: 0px 5px 0px 0px;
	color: #767676;
	font-size: 12px;
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 54.25%;
}

.navbar-nav {
	margin: 0px;
}

.input-group {
	padding: 2px;
}

#actions {
	margin-top: 5px;
	margin-left: 42px;
}

#actions li {
	padding: 0px 1px 0px 0px;
	font-size: 12px;
}

#navbar {
	-webkit-background-size: 1px 42px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.521569) 0px 2px 2px -2px;
	background-color: rgb(58, 87, 149);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAABUCAMAAACfvxb8AAAAeFBMV…XjhMaxtCPqxBmNolVc0Nxu6IuGMbUHuqNmsbF2rO2DJhg/RwEE6AR0V3kAAAAASUVORK5CYII=);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-size: 1px 42px;
	border-bottom-color: rgb(19, 55, 131);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.521569) 0px 2px 2px -2px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	direction: ltr;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 43px;
	left: 0px;
	line-height: 20px;
	min-width: 981px;
	position: fixed;
	right: 0px;
	text-align: left;
	top: 0px;
	z-index: 301;
	width: 100%;
	min-height: 43px;
	overflow: hidden;
}

#navbar ul li {
	padding: 5px 0px;
}

#sidebar {
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: rgb(224, 224, 224) 2px 0px 2px -2px inset;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	background-color: rgb(246, 247, 248);
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	box-shadow: rgb(224, 224, 224) 2px 0px 2px -2px inset;
	color: rgb(20, 24, 35);
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	height: 100vh;
	line-height: 16px;
	position: fixed;
	right: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	padding: 0;
}

.spacing {
	color: rgb(20, 24, 35);
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	height: 43px;
	line-height: 16px;
	margin-top: 0px;
	text-align: left;
	width: 205px;
}

#tabs li {
	float: left;
	width: 50%;
	text-align: center;
	border-right: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
}

#tabs li.last {
	border-right: 0px;
}

li.active, li.active:hover, 
li.active > a, li.active:hover > a {
	background-color: #4b6399 !important;
}

li.active a {
	color: white;
}

.user-name {
	margin-left: 15px;
	text-align: left;
}

.chat-text {
	margin-left: 10px;
}

.chat-item {
	margin: 10px 0 0;
}

.chat-item.first-item {
	margin-top: 0px;
}

.device {
	color: #63a924;
	float: right;
	font-size: 9px;
	padding: 8px 0px;
}

.in-chat-hr {
	border-top: 1px solid #E2E2E2;
}

#title {
	opacity: 0;
	text-decoration: none;
}

#title:hover {
	opacity: 1;
}

#search-box {
	height: 24px;
	border-right: 0px;
	border: 0px;
	padding-left: 8px; 
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; 
	text-indent: 2px; 
	font-size: 14px; 
	font-weight: 200; 
	letter-spacing: 0.4px;
}

#search-button {
	height: 16px;
	padding: 11px 12px;
	background: #f6f7f8;
	border-color: #f6f7f8;
	margin-left: 0px;
	width: 47px;
}

#search-button:hover {
	border-color: #f6f7f8;
	border-left-width: 1px;
	box-shadow: none;
}

#search-icon {
	position: relative;
	top: -12px;
}

#chat-content {
	height: 70%;
	overflow: auto;
}

#chat-controls {
	display: inline-block;
	position: absolute;
	bottom: 2%;
	width: 90%;
	padding-top: 15px;
	background-color: #f6f7f8;
}

#chat {
	padding-bottom: 20px;
	height: 100vh;
}

#submit-label {
	-webkit-background-size: 500px 511px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px 0px;
	background-color: rgb(91, 116, 168);
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/-hAD-hVSFnh.png);
	background-position: 0px -49px;
	background-repeat: no-repeat;
	background-size: 500px 511px;
	border-bottom-color: rgb(26, 53, 110);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(41, 68, 126);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(41, 68, 126);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(47, 71, 122);
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px 0px;
	color: rgb(102, 102, 102);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 13px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 6px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: 50px;
	word-wrap: break-word;
	zoom: 1;
}

#submit-btn {
	-webkit-appearance: none;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: none;
	-webkit-writing-mode: horizontal-tb;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(255, 255, 255);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(255, 255, 255);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(255, 255, 255);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 16px;
	letter-spacing: normal;
	line-height: 13px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(255, 255, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	white-space: nowrap;
	width: 32.6875px;
	word-spacing: 0px;
	word-wrap: break-word;
	writing-mode: lr-tb;
	zoom: 1;
}

#checkbox {
	-webkit-background-size: 26px 399px;
	background-image: url('http://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/vY_eDIdN1US.png');
	background-position: 0px -340px;
	background-repeat: no-repeat;
	background-size: 26px 399px;
	color: rgb(166, 166, 166);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	height: 17px;
	line-height: 34px;
	margin-left: 5px;
	text-align: right;
	vertical-align: middle;
	width: 14px;
	word-wrap: break-word;
	zoom: 1;
}

#enter-text {
	display: inline-block;
	color: rgb(166, 166, 166);
	margin-top: 7px;
}

#stats {
	padding-left: 0px;
	margin-top: 5px;
}

#stats li {
	list-style-type: none;
	display: inline;
	color: black;
	margin-right: 15px;
}

#calls {
	position: absolute;
	bottom: 2%;
	color: rgba(0,0,0,0.2);
	width: 100%;
}

#calls > li {
	width: 49.5%;
	border-radius: 0px;
}

#calls > li > a:hover, #calls > li > a:focus {
	background-color: rgb(246, 247, 248);
}

#name {
	-webkit-font-smoothing: antialiased;
	color: rgb(255, 255, 255);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	line-height: 24px;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px -1px 0px;
	white-space: nowrap;
	zoom: 1;
}

#home {
	-webkit-font-smoothing: antialiased;
	color: rgb(255, 255, 255);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	line-height: 24px;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px -1px 0px;
	white-space: nowrap;
	zoom: 1;
}

.first-chat-person {
	margin-top: 15px;
}

.chat-person {
	padding: 5px 20px;
}

.desc-text {
	width: 90px;
	display: inline-block;
}

.pad {
	padding: 15px;
}

.font-sm {
	font-size: 12px;
}

.font-blue {
	color: #3b5998;
}

.navbar-icon {
	padding: 5px 2px !important;
}

.hover-shadow {
	border-radius: 2px;
}

.hover-shadow:hover {
	background: #385490;
	background: rgba(0, 0, 0, .1);
	-webkit-border-radius: 2px;
}

.separator {
	background: rgba(0, 0, 0, .1);
	content: '';
	width: 1px;
	height: 17px;
	padding: 1px;
	margin: 6px 0px;
	display: inline-block;
}

.icon-settings:hover {
	background-position: -156px -153px;
}

.icon-privacy:hover {
	background-position: -34px -458px;
}

.icon-notifications:hover {
	background-position: 0 -865px;
}

.icon-messages:hover {
	background-position: 0 -481px;
}

.icon-friends:hover {
	background-position: 0 -577px;
}

.icon-settings {
	-webkit-background-size: 312px 185px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yp/r/KESPrBsu8bF.png);
	background-position: -285px -116px;
	background-repeat: no-repeat;
	background-size: 312px 185px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 8px;
	line-height: 27px;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	text-indent: -5000px;
	width: 11px;
	margin: 12.5px 0px;
	zoom: 1;
}

.icon-privacy {
	-webkit-background-size: 51px 1274px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/22ki8udVDr4.png);
	background-position: -34px -388px;
	background-repeat: no-repeat;
	background-size: 51px 1274px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 13px;
	line-height: 27px;
	list-style-type: none;
	text-align: left;
	width: 16px;
	margin: 4px 5.5px;
	zoom: 1;
}

.icon-notifications {
	-webkit-background-size: 51px 1274px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/22ki8udVDr4.png);
	background-position: 0px -609px;
	background-repeat: no-repeat;
	background-size: 51px 1274px;
	color: rgb(59, 89, 152);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	height: 27px;
	line-height: 15.3599996566772px;
	list-style-type: none;
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 27px;
	zoom: 1;
}

.icon-messages {
	-webkit-background-size: 51px 1274px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/22ki8udVDr4.png);
	background-position: 0px -321px;
	background-repeat: no-repeat;
	background-size: 51px 1274px;
	color: rgb(59, 89, 152);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	height: 27px;
	line-height: 15.3599996566772px;
	list-style-type: none;
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 27px;
	zoom: 1;
}

.icon-friends {
	-webkit-background-size: 51px 1274px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/22ki8udVDr4.png);
	background-position: 0px -513px;
	background-repeat: no-repeat;
	background-size: 51px 1274px;
	color: rgb(59, 89, 152);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	height: 27px;
	line-height: 15.3599996566772px;
	list-style-type: none;
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 27px;
	zoom: 1;
}

.icon-like {
	-webkit-background-size: 17px 200px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yu/r/thDhUL-zOkp.png);
	background-position: 0px -109px;
	background-repeat: no-repeat;
	background-size: 17px 200px;
	border-collapse: collapse;
	color: rgb(59, 89, 152);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	height: 13px;
	line-height: 15.3599996566772px;
	list-style-type: none;
	text-align: left;
	width: 15px;
	word-wrap: break-word;
	zoom: 1;

}

.icon-clock {
	-webkit-background-size: 53px 235px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y6/r/0CY2c8-m8b0.png);
	background-position: 0px -218px;
	background-repeat: no-repeat;
	background-size: 53px 235px;
	border-collapse: collapse;
	color: rgb(20, 24, 35);
	direction: ltr;
	display: inline-block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	height: 16px;
	line-height: 15.3599996566772px;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 10px;
	text-align: left;
	width: 16px;
	word-wrap: break-word;
	zoom: 1;
	position: relative;
	top: 3px;
}

.icon-fb {
	-webkit-background-size: 312px 184px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y4/r/eORErSKXE3r.png);
	background-position: -244px -62px;
	background-repeat: no-repeat;
	background-size: 312px 184px;
	color: rgb(59, 89, 152);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 28px;
	width: 28px;
}

.icon-online {
	background-image: url('http://fbstatic-a.akamaihd.net/rsrc.php/v2/y4/r/eORErSKXE3r.png');
	width: 7px;
	height: 7px;
	background-position: -202px -153px;
	background-size: 312px 184px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-video {
	-webkit-background-size: 312px 680px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/dnlPjT0ByhB.png);
	background-position: -272px -258px;
	background-repeat: no-repeat;
	background-size: 312px 680px;
	color: rgb(59, 89, 152);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	height: 26px;
	line-height: 16px;
	margin-right: -1px;
	opacity: 0.300000011920929;
	text-align: left;
	text-decoration: none;
	vertical-align: top;
	width: 25px;
	zoom: 1;
}

.icon-search {
	-webkit-background-size: 51px 1274px;
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/22ki8udVDr4.png);
	background-position: -34px -472px;
	background-repeat: no-repeat;
	background-size: 51px 1274px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	height: 14px;
	letter-spacing: normal;
	line-height: 12px;
	position: relative;
	right: 0px;
	text-align: center;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	top: -1px;
	vertical-align: middle;
	white-space: nowrap;
	width: 14px;
	word-spacing: 0px;
	z-index: 2;
	zoom: 1;
}

.hide {
	display: none;
}