---
---

@import "minima";

* {
  background-color: #F6F6EF;
}

a, p, h1, h2, h3, span, li {
  font-family: "freight-sans-pro", "Arial";
}

a:hover {
  text-decoration: none;
}

.site-header, .site-footer {
  border: none !important;
}

.site-header {
  padding-top: 20px;
}
